body {
    margin-left: 10em;
    max-width: 42em;
    font: 90% Verdana, Helvetica, Arial, sans-serif;
    background: white;
}
h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #666699;
    font-weight: normal;
    border-bottom: none;
}
a {
    color: #436976;
}
a:visited {
    color: purple;
}
a:active, a:hover {
    color: #b22222;
}
div.links {
    color: black;
    line-height: normal;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    padding-top: 6px;
    padding-left: 0.5em;
    padding-bottom: 6px;
}
div.links a {
    color: gray;
    padding: 0em 1em;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    text-transform: lowercase;
    border: none;
}
div.links a:visited {
    color: gray;
}
div.links a:active,
div.links a:hover {
    color: #b22222;
}
span.key {
    border: 1px outset gray;
    padding: 0px 3px;
}
em.pov {
    font-weight: normal
}
a.footnote {
    font-size: x-small;
    vertical-align: top;
    line-height: normal;
    margin: 0px 1px;
    text-decoration: none;
}
p.footnote {
    margin-left: 2em;
    margin-right: 2em;
    font-size: small;
}
p.footnote sup {
    font-size: x-small;
    vertical-align: top;
    line-height: normal;
    margin: 0px 1px;
    text-decoration: none;
}
div.footer {
    margin-top: 5em;
    font-size: x-small;
    color: gray;
    margin-left: 5em;
}
div.footer a {
    color: gray;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted gray;
}
div.footer a:visited {
    color: gray;
}
div.footer a:active,
div.footer a:hover {
    color: #b22222;
}


#image-format-choice { position: absolute; top: 2em; right: 2em; }

#support-table     { margin-left: -6em; }
#support-table     { margin-bottom: 2em; table-layout: fixed; }
#support-table     { border-spacing: 1px; }
#support-table th  { vertical-align: bottom; }

.version-column    { min-width: 1em; }
.blockers, .blocks { min-width: 5em; }

/* progress bar */
progress           { border: 1px solid white; background: #fdd; }
progress::-webkit-progress-bar   { background: #fdd; }
progress::-webkit-progress-value { background: #dfd; }
progress::-moz-progress-bar      { background: #dfd; }

/* version column */
td.version         { text-align: center; white-space: nowrap; }
td.unreleased      { color: #eee; }

/* vcs column */
td.vcs             { padding: 0; white-space: nowrap; text-align: center; }
td.vcs > a:link    { text-align: center; padding-left: 0.5em; padding-right: 0.5em; padding-top: 2px; padding-bottom: 2px; margin-left: 1px; }
td.vcs > a:link    { color: white; text-decoration: none; display: inline-block; }
td.vcs > a:visited { color: #eee; }
a.git              { background: #da4; }
a.svn              { background: #c44; }

/* supported/unsupported flags */
td.supported       { min-width: 2em; text-align: center; background: #dfd; color: #000; }
td.unsupported     { min-width: 2em; text-align: center; background: #fdd; color: #000; }
td.probably        { min-width: 2em; text-align: center; background: #efd; color: #444; }
td.unknown         { min-width: 2em; text-align: center; background: #fdfdfd; color: #eee; }

/* blocker counts */
td.blockers,    td.blocks         { text-align: center; }
td.blockers,    td.blocks         { background: #fdd; color: #c44; }
td.no-blockers, td.blocks-nothing { background: #dfd; color: #484; }
td.blockers-na, td.blocks-na      { background: #fdfdfd; color: #eee; }

/* depgraph column */
td.depgraph                       { text-align: center; padding: 0; white-space: nowrap; }

a.svg:link, a.svg:visited         { display: inline-block; text-decoration: none; padding: 2px 4px; margin-left: 1px; color: white; }
a.svg              { background: #4cc; }

/* build status column */
td.buildstatus                    { padding-top: 0; padding-bottom: 0; }
td.buildstatus img                { vertical-align: middle; }

/* highlight on hover */
tbody > tr:hover,
.zope_package:hover,
.plone_package:hover {
  background: #ffd;
}

.zope_package   { background: #a1b2cd; }
.plone_package   { background: #6587d3; }

.zope_package a,
.plone_package a {
  color: white;
}

.zope_package:hover a,
.plone_package:hover a {
  color: black;
}

/* sidebar */

.sidebar {
    float: right;
    margin-left: 2em;
}
